*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #ee0b3c;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #920d2a;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../imgs/joseph-greve-Tivp5fYe4Ng-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
  
}

.logo img{
    cursor: pointer;
    width: 300px;
    height: auto;

}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #ee0b3c;
    transition: .4s;
}

.btn{
    background-color: #ee0b3c;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: #ffffff;
    margin: 20px 0px 20px;
    font-size: 75px;

}


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 430px;
    border-radius: 20px;
    animation-name: slide-l;
    animation-duration: 2s;
}
.about-text{
    width: 550px;

}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #ee0b3c;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text p{
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.principais{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #ffffff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

}
.card{
    height: 650px;
    width: 335px;
    padding: 10px 60px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all .5s ease;
    animation-name: slide;
    animation-duration: 5s;
}

.card-img{
    position: inherit;
    width: 100%;
    height: 40%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 80%;
    background-color: #181818;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all .4s ease;
}
#card-crea{
    background-image: url(../imgs/creatina.png);
    
}
#card-wp{
    background-image: url(../imgs/whey.png);
}
#card-hip{
    background-image: url(../imgs/hipercalorico.png);
}

h5{
    color:#ffffff;
    font-size: 23px;
    margin-bottom: 10px;
    
}
.pra p{
    color: rgba(236, 227, 236, 0.8);
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;

}

.ul{
    list-style-type: square;

}

ul li{
    color: rgba(236, 227, 236, 0.8);
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 13px;

}
.button{
    background-color: #ee0b3c;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

footer p:nth-child(1){
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: #ffffff;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}

.social{
    display: flex;

}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ee0b3c;
    border-radius: 50%;
    margin: 22px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;

}

.end{
    position: absolute;
    color: #ee0b3c;
    bottom: 35px;
    font-size: 14px;
}

@keyframes slide {
    from {
        transform: translateY(20vw);
        opacity: 0;
        animation-timing-function:ease;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes slide-l {
    from {
        transform: translateX(-20vw);
        opacity: 0;
        animation-timing-function:ease-in-out;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
    
}